<ion-view style="background-color: #272733;" can-swipe-back="false">

    <ion-header-bar class="bar-dark" align-title="center">
        <h1 class="title">Templates</h1>
    </ion-header-bar>

    <ion-content class="has-header">


        <div ng-hide="!vm.noTemplates">

            <ion-list>
                <ion-item ng-click="vm.onItemSelected($index)" ng-repeat="template in vm.templates">
                    {{template.name}}
                </ion-item>
            </ion-list>

        </div>


        <div ng-hide="!vm.noTemplates" style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h1 class="light">No Items Yet!</h1>
        </div>

    </ion-content>

    <ion-footer-bar class="bar bar-dark bar-footer row" style="position:fixed; bottom:0px; padding: 0px;">
        
    </ion-footer-bar>

</ion-view>